spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost/DB_NAME?useUnicode=yes&characterEncoding=UTF-8
    username: DB_USER
    password: DB_PASS

  jpa:
    database-platform: MySQL5InnoDB
    hibernate:
      use-new-id-generator-mappings: true
      ddl-auto: create-drop
      naming:
        strategy: org.hibernate.cfg.ImprovedNamingStrategy
  logging:
    level:
      org.hibernate.SQL: debug
      org.springframework.web: DEBUG

  thymeleaf:
    mode: LEGACYHTML5
    cache: true
    
 
leanCloud:
  appId: APP_ID
  appKey: APP_KEY

server:
    port: 80
